
::selection{
  background: #8e44ad;
  color: #fff;
}
.section_title {
    margin-top: 90px;
}

.title_fred {
    text-align: center;
    padding: 15px;
}

main__bg{
  display: grid;
  height: 100%;
  place-items: center;
  background: #8e44ad;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container .box{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  margin: 20px 0;
  padding: 3px;
}

.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.rating i{
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns a{
  text-align: center;
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  color: #8e44ad;
  transition: all 0.3s linear;
}
.btns a:first-child{
  background: none;
  margin-right: 5px;
}
.btns a:last-child{
  color: #070707;
  margin-left: 5px;
}
.btns a:first-child:hover{
  background: #8e44ad;
  color: #fff;
}
.btns a:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}