.container_1{
    display: flex;
    width: 100%
}

#map{
    height: calc(100vh - 90px);
    width: 75vw;
    margin-top: 90px;
}

.office-list{
    width: 25vw;
    height: calc(100vh - 90px);
    overflow: auto;
    background: whitesmoke;
    margin-top: 90px;
}

.leaflet-popup-content-wrapper{
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content-wrapper h4{
    padding: 16px;
    background: hsl(230, 75%, 56%);
    color: #fff;
    font-size: 16px;
}

.leaflet-popup-content-wrapper p{
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number{
    padding: 16px;
    padding-top: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a{
    color: hsl(230, 75%, 56%);
    font-size: 14px;
}

.office-list .heading {
    background: hsl(230, 75%, 56%);
    color: #fff;
}

.office-list .heading h2 {
    padding: 1rem;
}

.office-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}

.office-list .office-item {
    margin: 1rem 0;
    border-bottom:  1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

.office-list li:last-child .office-item {
    border: none;
}

.office-list .office-item a {
    text-decoration: none;
    font-size: 25px;
    color: hsl(230, 75%, 56%);
    font-weight: 700;
}

.office-list .office-item a.office-link-detail {
    text-decoration: none;
    font-size: 15px;
    color: hsl(230, 75%, 56%);
    font-weight: 300;
}

.office-list .office-item p {
    font-size: 20px;
    color: #404040;
}
