{% load static %}
   <html lang="fr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
      {% block style %}{% endblock style %}
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="{% url 'home' %}" class="nav__logo">
               <img src="{% static 'assets/img/logo_enset.png' %}" alt="logo-enset">
            </a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="{% url 'home' %}" class="nav__link">Acceuil</a>
                  </li>
                  <li class="nav__item">
                     <a href="{% url 'contribution' %}" class="nav__link">Comtributions</a>
                  </li>
                  <li class="nav__item">

                     {% if user.is_authenticated %}
                     <p class="nav__link">
                        Bonjour, {{ user.username }}
                        <a href="{% url 'deconnexion' %}" >Se déconnecter</a>
                     </p>
                     {% else %}
                     <p class="nav__link">
                        <a href="{% url 'connexion' %}" >Se connecter</a>
                     </p>
                     {% endif %}

                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <div class="nav__actions">
               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>
      {% block body %}{% endblock body %}
      <!--==================== MAIN ====================-->
      <main class="main">
         <div class="main__bg">
            {% block content %}{% endblock content %}
         </div>
      </main>
      
      <!--=============== MAIN JS ===============-->
      <script src="{% static 'assets/js/main.js' %}"></script>
      {% block script %}{% endblock script %}
   </body>
</html>