{% load static %}
   <html lang="fr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      {% block style %}{% endblock style %}
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">Logo</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="#" class="nav__link">Home</a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link">About Us</a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link">Services</a>
                  </li>

                  <li class="nav__item">

                     {% if user.is_authenticated %}
                     <p class="nav__link">
                        Bonjour, {{ user.username }}
                        <a href="{% url 'deconnexion' %}" >Se déconnecter</a>
                     </p>
                     {% else %}
                     <p class="nav__link">
                        <a href="{% url 'connexion' %}" >Se connecter</a>
                     </p>
                     {% endif %}

                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <!--<i class="ri-close-line"></i>-->
                  <p class="ri-close-line">x</p>


               </div>
            </div>

            <div class="nav__actions">

               <!-- Login button -->
               <!--<i class="ri-user-line nav__login" id="login-btn"></i> -->
               <p class="ri-user-line nav__login" id="login-btn">log</p>

               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <!-- <i class="ri-menu-line"></i> -->
                  <p class="ri-menu-line">menu</p>
               </div>
            </div>
         </nav>
      </header>

      <!--==================== SEARCH ====================-->
      <div class="search" id="search">
         <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
         </form>

         <!--<i class="ri-close-line search__close" id="search-close"></i>-->
         <p class="ri-close-line search__close" id="search-close">X</p>
      </div>

      <!--==================== LOGIN ====================-->
      <div class="login" id="login">
         <form action="{% url 'home' %}" method="POST" class="login__form">
            <h2 class="login__title">Log In</h2>
            
            <div class="login__group">
               <div>
                  <label class="login__label">Email</label>
                  <input type="email" placeholder="Enter votre email" id="email" class="login__input" piname="email">
               </div>
               
               <div>
                  <label for="password" class="login__label">Password</label>
                  <input type="password" placeholder="Enter your password" id="password" class="login__input" name="password">
               </div>
            </div>

            <div>
               <p class="login__signup">
                  You do not have an account? <a href="#">Sign up</a>
               </p>
   
               <a href="#" class="login__forgot">
                  You forgot your password
               </a>
   
               <button type="submit" class="login__button">Log In</button>
            </div>
         </form>
         <!--<i class="ri-close-line login__close" id="login-close"></i>-->
         <p class="ri-close-line login__close" id="login-close">X</p>
      </div>

      <!--==================== MAIN ====================-->
      <main class="main">
            {% block content %}{% endblock content %}
      </main>
      
      <!--=============== MAIN JS ===============-->
      <script src="{% static 'main.js' %}"></script>

      {% block script %}{% endblock script %}
   </body>
</html>